.cover__subtitle {
    position: relative;
    align-self: center;
    max-width: 360px;
    margin: 32px 0 195px;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */
}

@media screen and (min-width: 320px) {
    .cover__subtitle {
        margin: 16px 33px 16px;
        max-width: 288px;
        font-size: 14px;
        line-height: 16px;
    }
}

@media screen and (min-width: 768px) {
    .cover__subtitle {
        margin: 32px 204px 115px;
        max-width: 360px;
        font-size: 18px;
        line-height: 22px;
    }
}

@media screen and (min-width: 1024px) {
    .cover__subtitle {
        margin: 32px 332px 195px;
    }
}


@media screen and (min-width: 1280px) {
    .cover__subtitle {
        margin: 32px 412px 245px;
    }
}