.place__text {
    margin: 0;
    padding: 0;
    grid-area: text;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:320px) {
    .place__text {
        align-self: start;
        width: 288px;
        font-size: 16px;
        line-height: 163%;
        margin-left: 16px;
    }
}

@media screen and (min-width:768px) {
    .place__text {
        width: 352px;
        margin-left: 0;
    }
}

@media screen and (min-width:1024px) {
    .place__text {
        width: 456px;
        font-size: 18px;
    }
}

@media screen and (min-width:1280px) {
    .place__text {
        width: 484px;
    }
}