.photo-grid__picture {
    max-width: 100%;
    object-fit: contain;
}

 @media screen and (min-width: 320px) {
     .photo-grid__picture {
         width: 288px;
         height: 216px;
     }
 }

 @media screen and (min-width: 768px) {
    .photo-grid__picture {
        width: 352px;
        height: 264px;
    }
}

@media screen and (min-width: 1024px) {
    .photo-grid__picture {
        width: 300px;
        height: 225px;
    }
}

@media screen and (min-width: 1280px) {
    .photo-grid__picture {
        width: 284px;
        height: 213px;
    }
}