.footer {
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
    padding: 92px 48px 24px;
    font-weight: 400;
}


@media screen and (min-width: 320px) {
    .footer {
        flex-direction: column;
        padding: 64px 118px 24px 16px;
        width: 186px;
        height: 310px;
    }
}

@media screen and (min-width: 768px) {
    .footer {
        flex-direction: row;
        padding: 88px 24px 24px;
        width: 720px;
        height: 18px;
    }
}

@media screen and (min-width: 1024px) {
    .footer {
        padding: 92px 48px 24px;
        width: 928px;
    }
}

@media screen and (min-width: 1280px) {
    .footer {
        width: 1184px;
    }
}